# Terraform
.terraform
*.tfstate
*.tfstate.backup

# Terragrunt
.terragrunt-cache
*/.terragrunt-cache/
#prod/eu-central/prod/aks/.terragrunt-cache

# OS X
.history
.DS_Store

# IntelliJ
.idea_modules
*.iml
*.iws
*.ipr
.idea/
build/
*/build/
out/
